/* Importing Font */
@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overlock',cursive;
}

img{
    width: 300px;
    border-radius: 10px 10px 0 0;
}
main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

h1{
    margin: 1rem;
}
.container{
    display: flex;
}
.projects-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.project{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 300px;
    box-shadow: 1px 1px 13px grey;
}
.project:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s ease;
}
.project .info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgb(122, 122, 122);
}
.project h2{
    margin: 1rem 0 0.2rem 0;
}
.project a{
    margin: 1rem;
    text-decoration: none;
    padding: 0.4rem 1rem;
    border-radius: 8px;
    background: #000;
    color: white;
    font-size: 1.1rem;
}
.project a:hover{
    background: rgb(34, 32, 32);
}

#search{
    width: 90%;
    font-size: 1.3rem;
    margin: 1rem;
    padding: 0.4rem 1rem;
}


/* Mobile Devices */

@media screen and (max-width:684px) {
    .projects-list{
        grid-template-columns: repeat(1,1fr);
    }
}
/* Tablets */
@media (min-width: 685px) and (max-width: 1010px) {
    .projects-list{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width: 1011px) and (max-width: 1359px){
    .projects-list{
        grid-template-columns: repeat(3,1fr);
    }
}